.auto-complete {
  .results {
    position: relative;
    top: 1rem;
    background-color: $white;
    width: 200px;
    border: solid 1px $monsoon;
    z-index: 1000;
  }

  .result {
    padding: 5px;
    &:hover {
      background-color: $smoke;
    }
  }
}
