.heroSection {
  min-height: $heroSection-height;
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
}

.heroSection-header {
  color: $white;
  border: $default-border-width solid $white;
  display: inline-block;
  padding: $default-unit*2 $default-unit*10;
  border-radius: $default-unit;
}
