.listingTile {
  margin-bottom: $default-unit*6;
  height: $listingTile-height;

  &-coverImage {
    height: 200px;
    & img {
      height: 100%;
      width: auto;
    }
  }

  &-details {
    padding: $default-unit*2;

    &--name {
      @include text-truncate;
      color: $oil;
      width: 85%;
    }

    &--price {
      color: $primary-color;
    }

    &--city {
      color: $base;
    }
  }
}
