<img {{bind-attr src=listing.image}} />

<div class="info">
  <div class="price right">{{listing.formattedPrice}}</div>
  <div class="name">{{listing.name}}</div>
  <small class="city">{{listing.city}}</small>
</div>
