<div class="listingTile-coverImage">
  <img {{bind-attr src=listing.image}} />
</div>

<div class="listingTile-details">
  <div class="listingTile-details--price right">{{listing.formattedPrice}}</div>
  <div class="listingTile-details--name">{{listing.name}}</div>
  <small class="listingTile-details--city">{{listing.city}}</small>
</div>
