// general
$default-border-width: 3px;
$default-unit: 5px;

// heroSection
$heroSection-height: 175px;

// maps
$googleMap-flex: 4;
$listings-flex: 8;
$listings-order: 1;
$googleMap-order: 2;

// listings
$listingTile-height: 300px;
