// general
$default-border-width: 3px;
$default-unit: 5px;

// heroSection
$heroSection-height: 250px;

// maps
$googleMap-flex: 3 100px;
$googleMap-order: 1;
$listings-flex: 9 auto;
$listings-order: 2;
