<div class="stateWrapper">
  {{hero-section name=model.name backgroundImage=model.backgroundImage}}

  <div class="googleMap-container">
    {{google-map lat=model.lat lng=model.lng}}
  </div>

  <div class="listings-container">
    {{outlet}}
  </div>
</div>

