<div class="stateWrapper">
  {{hero-section name=model.name backgroundImage=model.backgroundImage}}

  <div class="googleMap-container">
    {{google-map lat="40.7142700" lng="-74.0059700"}}
  </div>

  <div class="listings-container">
    {{outlet}}
  </div>
</div>

