<div class="stateWrapper">
  <div class="listings-container">
    {{hero-section name=model.name backgroundImage=model.backgroundImage}}
    {{outlet}}
  </div>

  <div class="googleMap-container">
    {{google-map lat=model.lat lng=model.lng listings=model.listings}}
  </div>
</div>

