<div class="large-8 small-9 columns">
  {{input type="text" placeholder=placeholder value=value action="submit" }}

  {{#if showDropdown }}
    <div class="results">
      {{#each result in filteredResults }}
        <div class="result">
          {{result}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="large-4 small-3 columns">
  <a href="#" class="button expand">Search</a>
</div>

